.p-sidebar-mask {
    background-color: transparent !important;
}
.p-component-overlay{
    background-color: transparent;
}
.ng-tns-c3811825900-1{
    background-color: transparent !important;
height: 0% !important;
}