<div class="flex justify-content-center align-items-center h-full">


<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <p-card header="login" [style]="{width:'360'}">
    <div class="field">
      <label for="email">Email</label>
      <input type="text" pInputText formControlName="email" class="w-full" name="email" placeholder="Type your email"/>
      <small class="red-text" *ngIf="email.invalid && (email.dirty || email.untouched)">
        <div class=" pt-3" *ngIf="email.errors?.['required']">Email is required</div>
        <div class=" pt-3" *ngIf="email.errors?.['email']">Email should be valid</div>
      </small>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input type="password" pInputText formControlName="password" class="w-full" name="password" placeholder="Type your password"/>
      <small class="red-text" *ngIf="password.invalid && (password.dirty || password.untouched)">
        <div class=" pt-3" *ngIf="password.errors?.['required']">password is required</div>
      </small>
    </div>
    <p-button type="submit" label="Sign in" styleClass="w-full" [disabled]="loginForm.invalid" />
    <div class="mt-2">
      Not a member? <a routerLink="/register">Register</a>
    </div>
</p-card>
</form>
</div>