/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
html,
body {
  height: 100%;
  margin: 0;
}

.red-text{
  color: red;
}
.p-component-overlay{
  background-color: transparent !important;
  z-index: -1 !important;
} 
.main-container {
  display: flex;
  height: 100vh; /* Ensures the container takes full height */
}

.content-container {
  padding: 6rem; /* Optional: Add some padding around the content */
  width: calc(100% - 250px); /* Adjust based on the width of your sidebar */
}

p-sidebar {
  width: 250px; /* Adjust this width according to your sidebar's width */
}
